﻿@model TCG.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<section class="container container--login">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">

            @{
                Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form" });
                Html.EnableClientValidation();
                Html.AntiForgeryToken();
            }

            <div class="text-center">
                <img class="mb-4" src="~/Static/Images/a.png" alt="" width="72" height="72">

                <h2>Please sign in</h2>
                <p>
                    Don't have an account? @Html.ActionLink("Register here", "Register", "Account")
                </p>
            </div>

            <!-- Username Box -->
            <div class="form-group row">
                @Html.LabelFor(x => x.Username, new { @class = "col-md-3 col-sm-12 col-form-label" })
                <div class="col-md-9 col-sm-12">
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Username", required = "required" })
                </div>

                <div class="form-control-feedback col offset-3">
                    @Html.ValidationMessageFor(x => x.Username)
                </div>
            </div>

            <!-- Password Box -->
            <div class="form-group row">
                @Html.LabelFor(x => x.Password, new { @class = "col-md-3 col-sm-12 col-form-label" })
                <div class="col-md-9 col-sm-12">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
                </div>
                <div class="form-control-feedback col offset-3">
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
            </div>

            <!-- Remember Me Checkbox -->
            <div class="col-md-9 offset-md-3 col-sm-12 mb-3">
                <div class="form-check">
                    <label class="form-check-label" for="RememberMe">
                        @Html.CheckBoxFor(x => x.RememberMe, new { @class = "form-check-input" })

                        Remember Me
                    </label>
                </div>
                <div class="form-control-feedback">
                    @Html.ValidationMessageFor(x => x.RememberMe)
                </div>

            </div>

            <!-- Submit Button -->
            <div class="form-group-row row">
                <div class="col">
                    <button class="btn btn-lg btn-primary btn-block col-sm-6 offset-sm-3" type="submit">Sign in</button>
                </div>
            </div>

            @{
                Html.EndForm();
            }

        </div>
    </div>
</section>