﻿@model TCG.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<section class="container container--login">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-8 offset-sm-1 offset-md-2 offset-lg-2">

            @{
                Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login-form light-container mb-5" });
                Html.EnableClientValidation();
                Html.AntiForgeryToken();
            }

            <div class="text-center">
                <img class="mb-4" src="~/Static/Images/a.png" alt="" width="72" height="72">

                <h2>Register</h2>
                <p>
                    Already have an account? @Html.ActionLink("Login here", "Login", "Account")
                </p>
            </div>

            <!-- Username Box -->
            <div class="form-group row">
                @Html.LabelFor(x => x.Username, new { @class = "col-md-3 col-sm-12 col-form-label" })
                <div class="col-md-9 col-sm-12">
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Username", required = "required" })
                </div>

                <div class="form-control-feedback col offset-3">
                    @Html.ValidationMessageFor(x => x.Username)
                </div>
            </div>

            <!-- Password Box -->
            <div class="form-group row">
                @Html.LabelFor(x => x.Password, new { @class = "col-md-3 col-sm-12 col-form-label" })
                <div class="col-md-9 col-sm-12">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
                </div>
                <div class="form-control-feedback col offset-3">
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
            </div>

            <!-- Password Box -->
            <div class="form-group row">
                @Html.LabelFor(x => x.RepeatPassword, new { @class = "col-md-3 col-sm-12 col-form-label" })
                <div class="col-md-9 col-sm-12">
                    @Html.PasswordFor(x => x.RepeatPassword, new { @class = "form-control", placeholder = "Repeat Password", required = "required" })
                </div>
                <div class="form-control-feedback col offset-3">
                    @Html.ValidationMessageFor(x => x.RepeatPassword)
                </div>
            </div>

            <!-- Email Box -->
            <div class="form-group row">
                @Html.LabelFor(x => x.Email, new { @class = "col-md-3 col-sm-12 col-form-label" })
                <div class="col-md-9 col-sm-12">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email Address", type = "email" })
                </div>
                <div class="form-control-feedback col offset-3">
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
            </div>

            <!-- Accept Terms -->
            <div class="col-md-9 offset-md-3 col-sm-12 mb-3">
                <div class="form-check">
                    <label class="form-check-label" for="AcceptTerms">
                        @Html.CheckBoxFor(x => x.AcceptTerms, new { @class = "form-check-input" })

                        Accept Terms
                    </label>
                </div>
                <div class="form-control-feedback">
                    @Html.ValidationMessageFor(x => x.AcceptTerms)
                </div>

            </div>

            <!-- Submit Button -->
            <div class="form-group-row row">
                <div class="col">
                    <button class="btn btn-lg btn-primary btn-block col-sm-6 offset-sm-3" type="submit">Register</button>
                </div>
            </div>

            @{
                Html.EndForm();
            }

        </div>
    </div>
</section>