﻿@using TCG.ViewModels
@using TCG.Controllers

@{
    BaseViewModel Model = BaseController.BaseViewModel;
}

<!DOCTYPE html>
<html>

@{
    Html.RenderPartial("~/Views/Shared/_Head.cshtml", Model);
}

<body>

    @{
        Html.RenderPartial("~/Views/Shared/_Navigation.cshtml", Model);
    }

    <main class="@(ViewBag.MainClass)">

        <div class="page-background" style="background-image: url('/Layout/RandomBackgroundImage/')"></div>

        @RenderBody()

    </main>

    <footer class="footer">
        <div class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; @DateTime.Now.Year - Arthesian · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </div>
    </footer>

    @Scripts.Render("~/js/main")

    <script>
        TCG.user.isAuthenticated = @(Model.CurrentUser == null ? "false" : "true");
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
