﻿@using TCG.Helpers;

@model TCG.ViewModels.BaseViewModel

@{
    var currentUser = Model.CurrentUser;
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="~/Static/Images/a.png" alt="" width="40" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" aria-controls="navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">

                @*
                // Determine which item is active :D
                *@

                <li class="nav-item @(Html.IsSelected(actions:"Index", controllers: "Home"))">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item @(Html.IsSelected(actions:"Index,Search", controllers: "User"))">@Html.ActionLink("Users", "Search", "User", null, new { @class = "nav-link" })</li>
                <li class="nav-item @(Html.IsSelected(actions:"Index,Search", controllers: "Card"))">@Html.ActionLink("Cards", "Search", "Card", null, new { @class = "nav-link" })</li>
                <li class="nav-item dropdown @(Html.IsSelected(actions:"Index,Search,Overview", controllers: "Deck"))">

                    @*@Html.ActionLink("Decks", "Search", "Deck", null, new { @class = "nav-link" })*@

                    <a class="nav-link dropdown-toggle" href="#" id="deckDropDownMenu" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><span>Deck</span></a>

                    <div class="dropdown-menu" aria-labelledby="deckDropDownMenu">

                        @Html.ActionLink("Search", "Search", "Deck", null, new { @class = "dropdown-item" })

                        <div class="dropdown-divider"></div>

                        @Html.ActionLink("Create", "Create", "Deck", null, new { @class = "dropdown-item" })

                        @{
                            if (Model.CurrentUser != null)
                            {
                                @Html.ActionLink("Overview", "Overview", "Deck", new { name = currentUser.Username }, new { @class = "dropdown-item" });
                            }
                        }

                    </div>
                </li>
            </ul>
            <ul class="navbar-nav user-box">
                <li class="nav-item dropdown">

                    @if (Model.CurrentUser == null)
                    {

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><span>Guest</span></a>
                        <div class="dropdown-menu user-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("Login", "Login", "Account", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Register", "Register", "Account", null, new { @class = "dropdown-item" })
                        </div>

                    }
                    else
                    {
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                            <img class="user-icon mr-1" src="@(currentUser.ProfileImageUrl)" alt="" width="30" height="30">
                            <span>@(currentUser.Username)</span>
                        </a>
                        <div class="dropdown-menu user-menu" aria-labelledby="navbarDropdownMenuLink">

                            @Html.ActionLink("Profile", "Name", "User", new { name = currentUser.Username }, new { @class = "dropdown-item" })

                            @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "dropdown-item" })

                        </div>

                    }
                </li>
            </ul>
        </div>
    </div>
</nav>