﻿* {
    box-sizing: border-box;
}

body {
    padding-top: 66px;
    margin: 0;
}

main {
    min-height: calc(100vh - 116px);
}

.page-background {
    background-size: cover;
    background-position: center;
    filter: opacity(0.5) blur(5px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.login-form {
    background: #343a40;
    color: white;
    padding: 1rem;
    border-radius: 0 0 .25rem .25rem;
}

.footer {
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    background-color: #f5f5f5;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
}



/*
    USER PROFILE
*/

.user-profile-box {
    display: inline-flex;
    align-items: center;
}

.user-profile-box-image {
    width: 150px;
    height: 150px;
    border: 10px solid white;
}

.user-profile-box-name {
    background: white;
    padding: 10px 50px;
    border-radius: 0 .25rem .25rem 0;
}

.user-profile-banner {
    box-shadow: 0 0 50px 0px #343a40;
    background-position: center -66px;
    background-size: cover;
    background-attachment: fixed;
    border: 5px solid #343a40;
    border-top: none;
    border-bottom: 20px solid #343a40;
    border-radius: 0 0 25% 25%;
}

.user-profile-info {
    padding: 40px;
    text-align: center;
    position: relative;
    top: -50px;
    color: #ddd;
    border-radius: .25rem;
    box-shadow: 0 0 50px 0px #343a40;
}

.user-profile-cardbox {
    background: rgba(0,0,0,0.5);
    border-top: 5px solid;
    padding-bottom: 50px;
}

    .user-profile-cardbox .row {
        margin-top: 50px;
        background: rgba(255,255,255,0.8);
    }

    .user-profile-cardbox .card-title {
        margin-bottom: 48px;
        border-bottom: 5px solid gray;
    }

/*
    USER STATUSSES
*/

.user-profile-box .status {
    position: absolute;
    display: inline-block;
    background: gray;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 180px;
}

.status.status--ball {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.status[data-user-status="OFFLINE"] {
    background-color: gray;
}

.status[data-user-status="ONLINE"] {
    background-color: green;
}

.status[data-user-status="INACTIVE"] {
    background-color: darkorange;
}

/*
    DECK PREVIEW
*/
.deck-preview-title {
    font-size: 14px;
    line-height: 24px;
    background: black;
    display: inline-block;
    margin: auto;
    padding: 2px 20px;
    border-radius: .25rem;
    color: white;
}

.deck-preview-format {
    font-size: 14px;
    text-align: center;
}

.deck-preview-box {
    position: relative;
    padding-bottom: 110%;
    margin: 20px;
}

.deck-preview-cards {
    position: relative;
}

    .deck-preview-cards img {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 4%;
        width: 80%;
    }

        .deck-preview-cards img:nth-child(2) {
            top: 2px;
            right: 3px;
        }

        .deck-preview-cards img:nth-child(3) {
            top: 4px;
            right: 6px;
        }

        .deck-preview-cards img:nth-child(4) {
            top: 6px;
            right: 9px;
        }

        .deck-preview-cards img:nth-child(5) {
            top: 8px;
            right: 12px;
        }

        .deck-preview-cards img:nth-child(6) {
            top: 10px;
            right: 15px;
        }

        .deck-preview-cards img:nth-child(7) {
            top: 11px;
            right: 16px;
        }

        .deck-preview-cards img:nth-child(8) {
            top: 12px;
            right: 18px;
        }

        .deck-preview-cards img:nth-child(9) {
            top: 14px;
            right: 21px;
        }

        .deck-preview-cards img:nth-child(10) {
            top: 15px;
            right: 23px;
        }

.deck-preview-signaturecard {
    perspective: 1000px;
    position: absolute;
    bottom: 0;
    left: 0;
}

    .deck-preview-signaturecard img {
        width: 80%;
        border-radius: 4%;
        transform: rotateZ(-5deg) rotateY(20deg) rotateX(10deg);
        transition: all 0.25s linear;
    }


.deck-preview-box:hover .deck-preview-signaturecard img {
    width: 90%;
    transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
}

/*
    MTG CARD
*/

.mtg-card--perspective {
    perspective: 1000px;
}

    .mtg-card--perspective .mtg-card {
        transform: rotateZ(-5deg) rotateY(20deg) rotateX(10deg);
        transition: all 0.25s linear;
        width: 100%;
    }

    .mtg-card--perspective:hover .mtg-card {
        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
        width: 100%;
    }

.mtg-card {
    border-radius: 4%;
}

.mtg-card-title {
    font-size: 16px;
    text-align: center;
}

/*
    DECK CREATE
*/

.deck-create .card-results:empty {
    visibility: hidden;
    display: none;
}

.deck-create .card-results {
    margin: 0;
    background: white;
    padding: 1rem;
    padding-bottom: 0;
}

    .deck-create .card-results .mtg-card-title {
        font-size: 12px;
    }

.card-drop-box {
    min-height: 100px;
    border: 3px dashed black;
}

#deck-mainboard-carddrop {
    position: relative;
    width: 200px;
    min-height: 200px;
    border-radius: .25rem;
    background: rgba(0,0,0,0.5);
    margin: auto;
    margin-top: 2rem;
    color: rgba(255,255,255,0.5);
    text-align: center;
    transition: all 0.25s cubic-bezier();
}

    #deck-mainboard-carddrop.active {
        background: rgba(0,0,0,0.75);
        color: rgba(255,255,255,0.75);
    }

div#deck-mainboard-carddrop::before {
    content: "+";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 128px;
    line-height: 170px;
}

.card-board-container {
    background: #343a40; 
    padding: 1rem;
    margin: 20px 0;
}

.card-board-container-title {
    color: white;
}
/*.card-board {
    min-height: 200px;
    background: rgba(0,0,0,0.5);
    border-style: solid;
    border-image: url("/Static/Images/border-dash.png") 2 round;
    margin: 20px 0;
}*/
.deck-menu {
    background: #343a40;
    padding: 1rem;
    color: white;
    border-radius: 0 0 .25rem .25rem;
}

/*.cardstack {
    clear: both;
    margin: 1rem 0;
    color: white;
}*/

.cardstack .mtg-card-header {
    display: none;
}

.cardstack-cards a {
    width: 25px;
    float: left;
    transition: width 0.25s ease-in-out;
}

    .cardstack-cards a:hover {
        width: 200px;
    }

.cardstack-cards article {
    width: 200px;
}
/*
    USER TILE
*/
.user-tile {
}

.user-tile-title {
    font-size: 20px;
    text-align: center;
}

.user-tile-body {
    position: relative;
}

.status.user-tile-status {
    position: absolute;
    right: 7.5%;
    bottom: 7.5%;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

/*
    OVERRIDES
*/

.form-control-feedback {
    font-size: 13px;
    color: orange;
    text-shadow: 0 0 2px black;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
    display: none;
}

.clearfix {
    clear: both;
}

/**
    CHARTS
*/

#chartsContainer {
    width: 80%;
    max-height: 90%;
    max-width: 90%;
    padding: 1rem 1rem 0 1rem;
    display: none;
}

.chartsContainer-inner {
    padding: 1rem;
    background: rgba(0,0,0,0.5);
}

.graphContainer {
    width: 100%;
    height: 340px;
}



/**
    SPECIAL BUTTONS
*/

.icon-button {
    width: 42px;
    transition: width 0.2s;
    overflow: hidden;
}
    .icon-button i {
        width: 16px;
        text-align:center;
    }

    .icon-button span {
        opacity: 0;
        transition: opacity 0.2s;
    }

    .icon-button:hover span {
        opacity: 1;
    }

#btn-save:hover {
    width: 83px;
}

#btn-remove:hover {
    width: 102px;
}

#btn-search:hover {
    width: 97px;
}