﻿@model TCG.Entities.Deck

<div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <h2 class="deck-preview-title">@(Model.Name)</h2>

    <div class="deck-preview-box">
        <div class="deck-preview-cards">
            <img width="100%" src="~/Static/Images/card-back.jpg" />
            <img width="100%" src="~/Static/Images/card-back.jpg" />
            <img width="100%" src="~/Static/Images/card-back.jpg" />
            <img width="100%" src="~/Static/Images/card-back.jpg" />
            <img width="100%" src="~/Static/Images/card-back.jpg" />
            <img width="100%" src="~/Static/Images/card-back.jpg" />
            <img width="100%" src="~/Static/Images/card-back.jpg" />
            <img width="100%" src="~/Static/Images/card-back.jpg" />
            <img width="100%" src="~/Static/Images/card-back.jpg" />
            <img width="100%" src="~/Static/Images/card-back.jpg" />
        </div>
        <div class="deck-preview-signaturecard">
            <img width="100%" src="https://api.scryfall.com/cards/multiverse/@(Model.DeckSignatureCardMultiverseid)?format=image&version=normal" />
        </div>
    </div>

    <p class="deck-preview-format">@(Model.Format)</p>
</div>