﻿@model TCG.Entities.Deck

@{ 
    ViewBag.Title = "Create Deck";
    ViewBag.MainClass = "deck-create";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-9">

            <!-- Search bar -->
            <div class="row">
                <div class="col-12">
                    <div class="input-group mt-4">
                        <input id="card-search" type="text" class="form-control" placeholder="Card name" aria-label="Card name">
                        <div class="input-group-append">
                            <button id="btn-search" class="icon-button btn btn-primary" type="button"><i class="fa fa-search"></i><span class="ml-2">Search</span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">

                            <div id="card-search-result" class="row card-results d-container"></div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Board -->
            <div class="row">
                <div class="col-12">
                    <div id="deck-mainboard-carddrop" class="card-drop-box hidden justify-content-center"></div>

                    <div class="card-board-container rounded">
                        <div class="mb-3 card-board-container-header d-flex justify-content-between">
                            <h2 class="card-board-container-title">Mainboard</h2>
                            <button id="btn-deck-stats" class="btn btn-info hidden" style="float: right;"><i class="fas fa-chart-pie"></i></button>
                        </div>
                        <div id="deck-mainboard" class="row card-board"></div>
                    </div>
                </div>
            </div>

            @*
        <!-- Side Board -->
        <div class="row">
            <div class="col-12">
                <h2>Sideboard</h2>
                <div id="deck-sideboard" class="row card-board d-container"></div>
            </div>
        </div>
            *@

            @*
        <!-- Maybe Board -->
        <div class="row">
            <div class="col-12">
                <div id="deck-maybeboard" class="row card-board d-container"></div>
            </div>
        </div>
            *@

        </div>
        <div class="col-12 col-sm-4 col-md-3">
            <div class="deck-menu pt-3">
                <div class="form-group">

                    <!-- Deck Name -->
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Deck name">
                </div>

                <!-- Deck Description -->
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" placeholder="Deck description..." rows="3"></textarea>
                </div>

                <!-- Deck Format -->
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Format</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option disabled selected>Select deck format</option> 
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <!-- Deck Signature Card -->
                <div id="deck-signature-card">
                    <div class="card-drop-box hidden">

                    </div>
                </div>

                <!-- Remove -->
                <button type="submit" id="btn-remove" class="icon-button btn btn-danger"><i class="fas fa-times"></i><span class="ml-2">Remove</span></button>

                <!-- Save -->
                <button type="submit" id="btn-save" class="icon-button btn float-right btn-success"><i class="fas fa-check"></i><span class="ml-2">Save</span></button>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>

    var builder = TCG.deck.builder(document.getElementById('deck-mainboard'), document.getElementById('deck-sideboard'), document.getElementById('deck-maybeboard'));

</script>
    }
