﻿
@{
    ViewBag.Title = "Deck Search";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="input-group my-4">
                <input id="card-search" type="text" class="form-control" placeholder="Deck,User or Signature Card name" aria-label="Card name">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fa fa-search"></i><span class="ml-2">Search</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row deck-results"></div>
</div>