﻿@model TCG.Entities.User

<div class="user-button">
    <a href="/User/Profile/@Model.Username">
        <div class="user-button__image">
            <img src="@Model.ProfileImageUrl" alt="@Model.Username">
            <div data-user="@(Model.Username)" data-user-status="@(Model.Status)" class="status user-button__status"></div>
        </div>
        <div class="user-button__username">@Model.Username</div>
        <div class="user-button__countryflag"><span class="flag flag-@Model.Culture.TwoLetterISOLanguageName"></span></div>
    </a>
</div>