﻿@model TCG.ViewModels.UserViewModel

@{
    ViewBag.Title = "Profile";
    ViewBag.MainClass = "user-profile";
}

<div class="container-fluid">

    <!-- Banner Row -->
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row py-5 user-profile-banner" style="background-image: url('/Layout/RandomBackgroundImage/')">
                    <div class="col-12">
                        <!-- Add some Profile Picture here -->
                        <div class="user-profile-box">

                            <img class="user-profile-box-image" src="@(Model.User.ProfileImageUrl)" />

                            <div class="user-profile-box-name">
                                <span class="status status--ball" data-user="@(Model.User.Username)"></span>
                                <h1>@(Model.User.Username)</h1>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="container">

    <div class="row">
        <div class="col-8 offset-2">
            <div class="user-profile-info bg-dark">
                >> Generic User Information <<
            </div>
        </div>
    </div>
        </div>

    <div class="row user-profile-cardbox">

        <div class="col-12">

            <div class="container">

                <!-- User Decks Row -->
                <div class="row py-3">

                    <div class="col-12">
                        <h2 class="card-title">Decks</h2>
                    </div>

                    @{
                        // TESTING PURPOSES
                        var test = new TCG.Entities.Deck();
                        test.DeckSignatureCardMultiverseid = 413740;
                        test.Format = "Commander";
                        test.Name = "Flicker Fest";
                        Html.RenderPartial("../Deck/_Preview", test);

                        test.DeckSignatureCardMultiverseid = 21271;
                        test.Format = "Casual";
                        test.Name = "Cho-Arrim";
                        Html.RenderPartial("../Deck/_Preview", test);

                        test.DeckSignatureCardMultiverseid = 397737;
                        test.Name = "Strike Twice";
                        Html.RenderPartial("../Deck/_Preview", test);

                        test.DeckSignatureCardMultiverseid = 438485;
                        test.Name = "Extremist";
                        Html.RenderPartial("../Deck/_Preview", test);
                    }

                    @{
                        if (Model.User.Decks?.Any() == true)
                        {
                            foreach (var deck in Model.User.Decks)
                            {
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <h2>@(deck.Name)</h2>
                                    <p>@(deck.Description)</p>
                                </div>
                            }

                        }
                    }

                </div>

                <!-- User Favourite Cards or whatever -->
                <div class="row py-3">

                    <div class="col-12">
                        <h2 class="card-title">Favourite Cards</h2>
                    </div>

                    @{
                        if (Model.User.FavouriteCardMultiverseIds?.Any() == true)
                        {
                            foreach (var id in Model.User.FavouriteCardMultiverseIds)
                            {
                                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                                    <img width="100%" src="https://api.scryfall.com/cards/multiverse/@(id)?format=image&version=normal" />
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-12">
                                <p>This user has no favourite cards</p>
                            </div>
                        }
                    }

                </div>

                <!-- User Detail Row -->
                <div class="row py-3">
                    <div class="col-12">
                        <h2 class="card-title">Details</h2>
                    </div>

                    <div class="col-12">

                        @{
                            if (!String.IsNullOrEmpty(Model.User.About))
                            {
                                <p>@(Model.User.About)</p>
                            }
                            else
                            {
                                <p>This user has no 'about' text</p>
                            }
                        }

                    </div>
                </div>

                <!-- User Detail Row -->
                <div class="row py-3">
                    <div class="col-12">
                        <h2 class="card-title">Medals</h2>
                    </div>

                    <div class="col-12">

                        <p>Some Achievements or whatever?</p>

                    </div>
                </div>

            </div>

        </div>


    </div>

</div>