﻿
@{
    ViewBag.Title = "No User";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">User could not be found!</h1>
        <p>The specified user could not be found...</p>
        <p><a class="btn btn-primary btn-lg" href="/User/Search" role="button">Search an User</a></p>
    </div>
</div>