﻿
@{
    ViewBag.Title = "User Search";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="input-group my-4">
                <input id="user-search" type="text" class="form-control" placeholder="Username or Email" aria-label="Card name">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fa fa-search"></i><span class="ml-2">Search</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row user-results"></div>
</div>

@section scripts {

    <script>
        TCG.helper.simpleSearch('/User/Search', $("#user-search"), TCG.templater.user, $('.user-results'));
    </script>
}